body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("images/snow_background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 36px;
}
mark {
    background-color: grey;
    opacity: 0.2;
}
nav {
    top: 0;
    background-color: #555;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
    padding: 5px;
    transition: 0.3s ease-in-out;    
}
nav a:hover {
    color: aqua;
    font-size: 1.2em;
}
nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
main, section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 20px 20px 20px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 40px;
}
#about-us {
    background-image: url('https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
#contact-us {
    background-image: url('https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80');
}
#faqs {
    background-image: url('https://images.unsplash.com/photo-1544535830-9df3f56fff6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
}
#send-feedback {
    background-image: url('https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
}
main.fixednav {
    margin-top: 130px;
}
.more-info {
    padding: 0px 20px;
    max-height: 0;
    overflow-y: hidden;
    transition: 1s ease-in-out;
    background-color: rgba(255,255,255,0.5);
}
.more-info.show {
    max-height: 300px;
    overflow-y: auto;
    transition: 1s ease-in-out;
}
.more-info.show.send-feedback {
    padding: 20px;
    transition: 1s ease-in-out;
}
.more-info::-webkit-scrollbar {
    display: none;
}
p {
    margin-bottom: 10px;
    line-height: 1.5;
}
button, input[type='submit'] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover, input[type='submit']:hover {
    background-color: #555;
}
form {
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
}
label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
input, textarea {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
textarea {
    height: 150px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
}
