h1 {
    font-color: #FF1000;
    font-size: "20px";
    font-family: "Helvetica";
    position: centered;
}
h2 {
    font-color: #FF5600;
    font-size: "17px";
    font-family: "Helvetica";
    position: centered;
}
p {
    font-color: #100FFF;
    font-size: "12px";
    font-family: "Trebuchet";
    position: right;
}
.button {
    test
}
.start {
    animation-name: "fade";
}
.start:hover {
    background-color: #53FFF5;
}

