h1 {
    font-color: "red";
    font-size: "20px";
    font-family: "Helvetica";
}
h2 {
    font-color: "darkred";
    font-size: "17px";
    font-family: "Helvetica";
}
p {
    font-color: "blue";
    font-size: "12px";
    font-family: "Trebuchet-MS";
}
.button {
    test
}
.start {
    animation-name: "fade";
}
.start:hover {
    background-color: #53FFF5;
}

