div {
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
    margin-bottom:15px;
}
body {
    background-image: url('../images/snow_background.jpeg');
    background-color: #FFFFFF;
    background-size: cover;
}
h1 {
    color: #FF1000;
    font-size: "20px";
    font-family: "Helvetica";
    position: fixed;
}
h2 {
    color: #FF5600;
    font-size: "17px";
    font-family: "Helvetica";
    position: relative;
}
p {
    color: #100FFF;
    font-size: "12px";
    font-family: "Trebuchet MS";
    position: absolute;
}
.button {
    background-color: #3CD8DF;
    font-family: "Trebuchet MS";
    border-style: inset;
    font-size:80px;
    padding: 1px 10px;
    margin: 200px 20px;
    transition-duration: 0.4s;
    animation-name: button;
    animation-duration: 2.2s;
    animation-timing-function: ease;
    position: sticky;
}   
.start {
    cursor: pointer;
    onclick: "questions.html";
}
.start:hover {
    background-color: #53FFF5;
    color: #1CBFC6;
}

